.wrapper {
    position: relative;
    flex: 1;
    background-color: rgb(0, 0, 0);
    color: white;
    overflow: hidden;
    transition: 0.1s;
}

.wrapper-stop {
    background-color: rgb(15, 15, 15);
}

.heart {
    pointer-events: none;
}
