.wrapper {
    position: relative;
    flex: 1;
    background-color: rgb(0, 0, 0);
    color: white;
    overflow: hidden;
    transition: 0.1s;
}

.wrapper-stop {
    background-color: rgb(15, 15, 15);
}

.fly-up {
    animation: fly-up-anim 3s ease-in-out 1;
}

@keyframes fly-up-anim {
    0% {
        transform: translatey(0px);
    }
    100% {
        opacity: 0;
        transform: translatey(-100vh);
    }
}
